@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Playfair+Display:900|Open+Sans');

body {
    background-color: rgb(255, 255, 255);
    padding: 100px;
    background-repeat: no-repeat;
}

* {
    font-family: 'Helvectica', monospace;
    color: rgb(0, 0, 0);
}

h1 {
    font-size: 48pt;
       
}
