@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Playfair+Display:900|Open+Sans');

body {
    background-image: url('A3-cluster-algebra.png');
    background-size: contain;
    background-position: right top;
    background-color: rgb(255, 255, 255);
    padding: 100px;
    font-family: 'Open Sans', sans-serif;
    color: #000;
    display: grid;
    align-items: center;
    grid-template-columns: 300px auto;
    background-repeat: no-repeat;
}

* {
    font-family: 'Helvectica', monospace;
    color: rgb(0, 0, 0);
}

h1 {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 3;
    color: rgb(0, 0, 0);
    font-size: 48pt;
    font-family: 'Helvetica', monospace;
       
}

ul {
    list-style-type: none;
    grid-row-start: 2;
    grid-column-start: 2;
    width: 200px;
    font-size: 14pt;
} 

li {
    padding-top: 10px;
}

