@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Playfair+Display:900|Open+Sans');

* {
    font-family: 'Helvectica', monospace;
    color: rgb(0, 0, 0);
}

h1 {
    font-size: 48pt;
       
}
